{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>투어스</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <h1>투어스</h1>
    </header>
    <div class="container">
        <section class="hero">
            <div class="hero-text">
                <h3>기존에 경험하지 못한<br>
                    새로운 여행지 추천 시스템</h3>
                <p>고민만 하던 여행 계획을 투어스를 통해 여행지 추천을 받아보세요!</p>
                <a href="{% url 'recommend_destinations' %}">여행지 추천받으러가기</a>
            </div>
            <div class="hero-image">
                <img src="{% static 'images/kor.jpeg' %}" alt="여행 이미지">
            </div>
        </section>
    </div>
    <footer>
        <p>© 2024 투어스. All rights reserved.</p>
        <p>GCU - 파이썬 프로그래밍 | 김민정, 박진서 </p>
    </footer>
</body>
</html>
